doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='libs/jquery/dist/jquery.js')    
    script(src='/footprint.js')

    style.
  body
    .container
        h1.text-center User Clicks
        br
        table.table.table-striped
            tr
              td 
                strong Element Name
              td 
                strong User Action
              td
                strong Updated
              td 
                strong Widget
              td 
                strong Role
              td 
                strong Uri
            each click in clicks 
                tr
                  td= click.elementName
                  td= click.userAction
                  td= click.updated
                  td= click.widget
                  td= click.role
                  td= click.uri
        //- input.postButton.btn.btn-primary(type='button', value='Trial Post')